.main-container
  padding: 10% 10%
  background-color: $main-color

.pb-2
  padding-bottom: 2%

.item
  background-color: $gray

.item p
  color: $black
  @extend .general-text

.item h2
  color: $main-color
  @extend .general-text

.mixin-container
  background-color: #dfe4ea
  padding: 20px 30px
  margin: 30px

.content
  padding: 20px
  background-color: #ced6e0

.main-content h2
  @include text($dark-gray,Helvetica,22px)

.main-content p
  @include text($light-gray,monospace,16px)

.content .btn-send
  @include btn($orange,$white,$btn-width)

.content .btn-cancel
  @include btn($danger-color,$white,$btn-width)

.main-contact-form
  padding: 20px
  background: $back-gray

.main-form h1
  @include text($dark-gray,"Arial, Helvetica, sans-serif",30px)
