body {
  box-sizing: border-box;
  background: rgb(237,7,14);
  background: linear-gradient(90deg, rgba(237,7,14,1) 0%, rgba(223,117,117,1) 93%);
  color: white;
  font-size: 2vw;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.child-div p span {
  font-size: 6vw;
}