@mixin contenidoFlexible($color)
  background-color: $color
  display: flex
  flex-wrap: wrap
  
@mixin itemContenido($bg-color,$color,$grow)
  background-color: $bg-color
  color: $color
  flex-grow: $grow
  margin: 10px
  padding: 10px
  width: 30%
  